body {
    background-color: Linen;
}


.posts{
    background-color: white;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 2em;
    
}

#sidebar {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 2em;
    margin-top: 10px;
    margin-left: 1em;
}

.container{
    margin-top: 5em;
}
