{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}


    {% block content %}
        <div class='posts'>
            <form class='form-group' method='POST'> {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class='text-center'>
                        <h2>Create new Post</h2>
                    </legend>

                    {{ form | crispy}}

                </fieldset>

                <div class='form-group'>
                    <button class='btn btn-outline-dark' type='submit'>Post</button>
                </div>

            </form>
            
        </div>
    {% endblock %}
