{% extends 'blog/base.html'%}
{% load static %}


    {% block content %}
        <div> 
            <h1>Posts by {{view.kwargs.username}}</h1>
        </div>
        {% for post in posts %}

            <div class="posts">
                <div class="media">
                    <img src="{{ post.author.profile.image.url }}" class="account-img rounded-circle" width='150' height='150'>
                    <div class="media-body ml-4">
                        <p><a href="#">{{ post.author }}</a> <small class="text-muted">{{ post.date_published }}</small></p>
                        <a href="{% url 'post-detail' post.id %}"><h1>{{ post.title }}</h1></a>
                        <p>{{ post.content|linebreaks|truncatewords:15}}</p>
                    </div>
                </div>

            </div>
        {% endfor %}
    {% endblock %}
